.container.contact__container {
  width: min(900px, var(--container-width-lg));
  display: grid;
  grid-template-columns: 0.85fr 1.15fr;
  gap: 2rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__option {
  background: var(--color-surface);
  padding: 1.2rem;
  border-radius: 1rem;
  text-align: left;
  border: 1px solid var(--color-border);
  transition: var(--transition);
}

.contact__option:hover {
  transform: translateY(-3px);
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.35rem;
  margin-bottom: 0.45rem;
  color: var(--color-primary);
}

.contact__option h5 {
  color: var(--color-light);
  font-weight: 400;
}

.contact__option a {
  margin-top: 0.65rem;
  display: inline-block;
  font-size: 0.82rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1.15rem;
  border-radius: 0.75rem;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  resize: none;
  color: var(--color-white);
}

input:focus,
textarea:focus {
  border-color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    width: var(--container-width-md);
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
